@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --radius: 0.5rem;

    --chart-1: 359 2% 40%;
    --chart-2: 240 1% 74%;
    --chart-3: 240 1% 58%;
    --chart-4: 240 1% 42%;
    --chart-5: 240 2% 26%;

    --font-inter: "Inter", sans-serif;
    --font-roboto: "Roboto", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --font-overpass-mono: "Overpass Mono", sans-serif;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-hover: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-accent-foreground-hover: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    --fc-button-bg-color: hsl(var(--primary));
    --fc-button-hover-bg-color: hsl(var(--primary));
    --fc-button-active-bg-color: hsl(var(--primary));
    --fc-button-hover-border-color: transparent;
    --fc-button-active-border-color: transparent;
    --fc-button-border-color: transparent;
    --fc-event-border-color: transparent;
    --fc-event-text-color: hsl(var(--foreground));
    --fc-border-color: hsl(var(--border));
    --fc-page-bg-color: hsl(var(--muted));
    --fc-today-bg-color: hsl(var(--muted));
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 100%;
    --primary-foreground: 20 14.3% 4.1%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --chart-1: 359 2% 50%;
    --chart-2: 240 1% 74%;
    --chart-3: 240 1% 58%;
    --chart-4: 240 1% 42%;
    --chart-5: 240 2% 26%;

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-hover: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-accent-foreground-hover: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    --fc-button-bg-color: hsl(var(--primary));
    --fc-button-hover-bg-color: hsl(var(--primary));
    --fc-button-active-bg-color: hsl(var(--primary));
    --fc-button-hover-border-color: transparent;
    --fc-button-active-border-color: transparent;
    --fc-button-border-color: transparent;
    --fc-event-border-color: transparent;
    --fc-event-text-color: hsl(var(--foreground));
    --fc-border-color: hsl(var(--border));
    --fc-page-bg-color: hsl(var(--muted));
    --fc-today-bg-color: hsl(var(--muted));
  }
}

._editorRoot_uazmk_53 {
  --baseTextContrast: hsl(var(--foreground)) !important;
  --baseBgActive: hsl(var(--background)) !important;
  --baseBg: hsl(var(--muted)) !important;
  --radius-medium: 0 !important;
}

.fc-daygrid-event {
  @apply relative !rounded-md
}

.fc .fc-timegrid-axis-cushion, .fc .fc-timegrid-slot-label-cushion {
  @apply text-sm text-muted-foreground
}

.fc-h-event .fc-event-main, .fc-v-event .fc-event-main {
  @apply text-inherit
}

.fc .fc-daygrid-event {
  @apply px-1 !border-transparent
}

.fc .fc-col-header-cell-cushion {
  @apply text-sm font-medium
}

.fc .fc-event-resizable {
  @apply !border-transparent
}

.fc-timegrid-event .fc-event-main {
  @apply !px-1
}

.fc .fc-scrollgrid-liquid {
  @apply !rounded-md
}

.fc-daygrid-event-dot {
  @apply !hidden
}
